<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{titlePage}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              
{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}

        {{!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> --}}
        {{!-- <link rel="stylesheet" href="css/bootstrap-responsive.min.css" /> --}}

        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/fullcalendar.css" />
        <link rel="stylesheet" href="css/muhafiz-style.css" />
        <link rel="stylesheet" href="css/muhafiz-media.css" />
        <link rel="stylesheet" href="font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="css/jquery.gritter.css" />
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800'  type='text/css'>
    </head>
    <body>
        {{> header }}
        {{> sidebar}}
        {{{ body }}}

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="js/bootstrap.min.js"></script>
	</body>
</html>